.footer{
    margin: 0 auto;
}

.footer-background{
    background-color: #222222;
}

.footer-image{
    background: url('../../assets/CONTATO.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
    margin-bottom: 5%;
    padding-top: 20px;
    font-size: 26pt;
    font-weight: 200;
    text-align: center;
}

.footer-content{
    height: 80vh;
    padding: 100px 80px;
}